@{
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}
<div class="d-flex flex-row">
    <div class="p-1" style="width:50%">
        <ul class="list-group">
            <li class="list-group-item">Last Login History</li>
            <li class="list-group-item">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">IP Address</th>
                            <th scope="col">Browser</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody id="loginHistoryRow">  
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div class="p-1" style="width:50%">
        <ul class="list-group">
            <li class="list-group-item">Your Association</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
</div>
<script>
    function getLoginHistory() {
        ServerData("/StudDashboard/GetLoginHistory", "Post", null, (data) => {
            if (data.StatusCode == 1) {
                $("#loginHistoryRow").html('');
                let counter = 1;
                console.log(data.Data);
                data.Data.forEach((item) => {
                    item.Ip = (item.Ip == "::1") ? "127.0.0.1" : item.Ip;
                    $("#loginHistoryRow").append("<tr><th scope='row'>" + (counter++) + "</th><td>" + item.Ip + "</td><td>" + item.Browser + "</td><td>" + item.LoginDate +"</td></tr>")
                });
                counter = 5 - counter;
                for (let icount = 0; icount < counter; icount++) {
                    $("#loginHistoryRow").append("<tr><th scope='row'></th><td></td><td></td><td></td></tr>");
                }
            }
        }, () => {
            for (let icount = 0; icount < 5; icount++) {
                $("#loginHistoryRow").append("<tr><th scope='row'></th><td></td><td></td><td></td></tr>");
            }
        });
    }

    $(document).ready(() => {
        getLoginHistory();
    });
</script>