@{
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}
<div class="d-flex flex-row">
    <div class="p-1" style="width:50%">
        <ul class="list-group">
            <li class="list-group-item">Last Login History</li>
            <li class="list-group-item">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">IP Address</th>
                            <th scope="col">Browser</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>54151</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>,kmnlk</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>jkhiuhui</td>
                        </tr>
                    </tbody>
                </table>


            </li>
        </ul>
    </div>
    <div class="p-1" style="width:50%">
        <ul class="list-group">
            <li class="list-group-item">Your Association</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
</div>
