<br />
<div class="container border rounded-5">
    <br />
    <div class="justify-content-center">
        <form>
            <div class="col-md-12">
                <label for="txtOldPass" class="form-label">Old Password:</label>
                <div class="input-group" error-For="Old Password">
                    <span class="input-group-text" id="basic-prefix"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="txtOldPass" placeholder="अपना पुराना पासवर्ड दर्ज करें" required maxlength="50" tabindex="0" autocomplete="off" autofocus="">
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <label for="txtNewPass" class="form-label">New Password:</label>
                <div class="input-group" error-For="New Password">
                    <span class="input-group-text" id="basic-prefix"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="txtNewPass" maxlength="50" placeholder="नया पासवर्ड दर्ज करें" required autocomplete="off">
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <label for="txtretypeNewPass" class="form-label">Retype New Password:</label>
                <div class="input-group" error-For="Retype New Password">
                    <span class="input-group-text" id="basic-prefix"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="txtretypeNewPass" maxlength="50" placeholder="नया पासवर्ड दोबारा दर्ज करें" required autocomplete="off">
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="col-12">
        <div class="card-footer text-muted " style="text-align:center; margin:auto 0">
            <button onclick="UpdateProfile();" type="submit" class="btn btn-primary" style="text-align:Center"><i class="fa fa-key" aria-hidden="true"></i> Update Password (पासवर्ड अपडेट करें)</button>
        </div>
    </div>
</div>
