<br />
<div class="container">
    <table class="table table-responsive table-borderless caption-top">
        <caption>Update Profile (प्रोफ़ाइल अपडेट करें)</caption>
        <thead class="table-light">
        </thead>
        <tbody>
            <tr scope="row">
                <td>
                </td>
                <td>
                </td>
                <td>
                    User Name (उपयोगकर्ता नाम):
                </td>
                <td>
                    <small>this can not be changed</small>
                </td>
            </tr>
            <tr scope="row">
                <td>
                </td>
                <td>
                </td>
                <td>
                    Name (प्रोफ़ाइल नाम):
                </td>
                <td>
                    <small>this can not be changed</small>
                </td>
            </tr>
            <tr scope="row">
                <td>
                </td>
                <td>
                </td>
                <td>
                    Password (प्रोफ़ाइल नाम):
                </td>
                <td>
                    <small>this can not be changed</small>
                </td>
            </tr>
        </tbody>
    </table>


    
</div>