
@{
    ViewBag.Title = "Error";
}
<div class="p-5 mb-4 bg-light rounded-3">    
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Sorry, We have found some issue.</h1>
        <p class="col-md-8 fs-4">क्षमा करें, हमें कुछ समस्या मिली है।</p>
        <br />
        <p>Details - @ViewBag.Error</p>
    </div>
</div>
<br />
<div class="container" style="text-align:center">
    @Html.ActionLink("Login (लॉग इन करें)", "Go")
</div>


