USE [master]
GO
/****** Object:  Database [ExamOn_Master]    Script Date: 24-12-2023 02:25:00 PM ******/
CREATE DATABASE [ExamOn_Master]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamOn_Master', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExamOn_Master.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamOn_Master_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExamOn_Master_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamOn_Master].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamOn_Master]
GO
/****** Object:  Table [dbo].[tbltenantMaster]    Script Date: 24-12-2023 02:25:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbltenantMaster](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenantDBName] [varchar](50) NOT NULL,
	[TenantUniqueKey] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbltenantMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbltenantMaster] ON 

--INSERT [dbo].[tbltenantMaster] ([Id], [TenantDBName], [TenantUniqueKey]) VALUES (1, N'Examon_dummy', N'exd')
SET IDENTITY_INSERT [dbo].[tbltenantMaster] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_examOn_master_tenentUniqueKey]    Script Date: 24-12-2023 02:25:01 PM ******/
CREATE NONCLUSTERED INDEX [idx_examOn_master_tenentUniqueKey] ON [dbo].[tbltenantMaster]
(
	[TenantUniqueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbltenantMaster]    Script Date: 24-12-2023 02:25:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbltenantMaster] ON [dbo].[tbltenantMaster]
(
	[TenantUniqueKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
