<br />
<div class="col-md-12">
    <div class="card col-md-12">
        <div class="card-header" style="text-align: center; text-decoration: underline;">
            <i class="fa fa-etsy" aria-hidden="true"></i>xamOn Student <i class="fa fa-graduation-cap" aria-hidden="true"></i> Enrollment @ViewBag.Version
        </div>
        <div class="card-body col-md-12">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="txtInstituionlist" class="form-label"><span class="text-danger">*</span>Enroll Institutions : (वह संस्थान चुनें जिसमें आप नामांकन चाहते हैं)</label>
                    <div class="select2-results__option--group" error-For="Insituition list">
                        <span class="input-group-text" id="basic-prefix">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            <select style="cursor:pointer;" id="txtInstituionlist" class="form-control form-select js-example-basic-single" onchange="GetCourseShift(this)">
                                <option value="">Choose Institute...</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtAvavilableShift" class="form-label">Available Course/Shifts : (उपलब्ध पाठ्यक्रम/शिफ्ट)</label>
                    <div class="input-group" error-For="Available shifts">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-shirtsinbulk" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtAvavilableShift" autocomplete="off" maxlength="1000" readonly="readonly">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtProfileName" class="form-label"><span class="text-danger">*</span>Your Name : (आपका नाम)</label>
                    <div class="input-group" error-For="Profile Name">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtProfileName" autocomplete="off" maxlength="50">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtEMail" class="form-label"><span class="text-danger">*</span>Email</label>
                    <div class="input-group" error-For="Email Id">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <input type="email" class="form-control" id="txtEMail" autocomplete="off" placeholder="" maxlength="50" onfocusout="this.value = CheckEmailValid(this.value) ? this.value: ''">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtMobile" class="form-label"><span class="text-danger">*</span>Mobile <span class="badge rounded-pill bg-danger">(do not use +91)</span></label>
                    <div class="input-group" error-For="Mobile Number">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                        <input type="number" class="form-control" id="txtMobile" autocomplete="off" placeholder="" maxlength="10" data-maxlength="10" oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtGender" class="form-label">Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="txtGEnder" id="txtMaleGender" checked value="0">
                        <label class="form-check-label" for="txtMaleGender">Male (पुरुष)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="txtGEnder" id="txtFemaleGender" value="1">
                        <label class="form-check-label" for="txtFemaleGender">Female (महिला)</label>
                    </div>
                </div>
                <div class="col-12">
                    <label for="txtAddress" class="form-label">Address (पता)</label>
                    <div class="input-group" error-For="Address (पता)">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtAddress" placeholder="" maxlength="150">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtCity" class="form-label">City (शहर)</label>
                    <div class="input-group" error-For="City (शहर)">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-crosshairs" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtCity" maxlength="100">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtState" class="form-label"><span class="text-danger">*</span>State (राज्य)</label>
                    <div class="select2-results__option--group" error-For="State (राज्य)">
                        <span class="input-group-text" id="basic-prefix">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                            <select style="cursor:pointer" id="txtState" class="form-select js-example-basic-single">
                                <option>Choose state...</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="High School" class="form-label"><span class="text-danger">*</span>HighSchool Completed</label>
                    <div class="input-group" error-For="High School">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtHighSchoolCOmpleted" id="txthighSchoolYesCompleted" checked value="0">
                            <label class="form-check-label" for="txthighSchoolYesCompleted">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtHighSchoolCOmpleted" id="txthighSchoolNotCompleted" value="1">
                            <label class="form-check-label" for="txthighSchoolNotCompleted">No</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 isHighSchoolCompleted">
                    <label for="txtState" class="form-label">HighSchool Percentage\CGPA</label>
                    <div class="input-group" error-For="HighSchool Percentage">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></span>
                        <input type="number" class="form-control" id="txtHighSchoolPercentage" autocomplete="off" placeholder="" maxlength="3" data-maxlength="3" oninput="this.value = this.value.slice(0, this.dataset.maxlength); this.value = this.value > 100 ? '0' : this.value">
                    </div>
                </div>
                <div class="col-md-5 isHighSchoolCompleted">
                    <label for="txtState" class="form-label">HighSchool College</label>
                    <div class="input-group" error-For="HighSchool College">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtHighSchoolName" autocomplete="off" placeholder="" maxlength="200" data-maxlength="200" oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="Inter" class="form-label"><span class="text-danger">*</span>Intermediate Completed</label>
                    <div class="input-group" error-For="Inter">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtInterCOmpleted" id="txtInterYesCompleted" checked value="0">
                            <label class="form-check-label" for="txtInterYesCompleted">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtInterCOmpleted" id="txtInterNotCompleted" value="1">
                            <label class="form-check-label" for="txtInterNotCompleted">No</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 isIntermediateCompleted">
                    <label for="Intermediate Percentage" class="form-label">Intermediate Percentage\CGPA</label>
                    <div class="input-group" error-For="Intermediate Percentage">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></span>
                        <input type="number" class="form-control" id="txtIntermediatePercentage" autocomplete="off" placeholder="" maxlength="3" data-maxlength="3" oninput="this.value = this.value.slice(0, this.dataset.maxlength); this.value = this.value > 100 ? '0' : this.value">
                    </div>
                </div>
                <div class="col-md-5 isIntermediateCompleted">
                    <label for="Intermediate College" class="form-label">Intermediate College</label>
                    <div class="input-group" error-For="Intermediate College">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtIntermediateSchoolName" autocomplete="off" placeholder="" maxlength="200" data-maxlength="200" oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="Graduation" class="form-label"><span class="text-danger">*</span>Graduation Completed</label>
                    <div class="input-group" error-For="Graduation">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtGraduationCOmpleted" id="txtGraduationYesCompleted" checked value="0">
                            <label class="form-check-label" for="txtGraduationYesCompleted">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtGraduationCOmpleted" id="txtGraduationNotCompleted" value="1">
                            <label class="form-check-label" for="txtGraduationNotCompleted">No</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 isGraduationCompleted">
                    <label for="Graduation Percentage" class="form-label">Graduation Percentage\CGPA</label>
                    <div class="input-group" error-For="Graduation Percentage">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></span>
                        <input type="number" class="form-control" id="txtGraduationercentage" autocomplete="off" placeholder="" maxlength="3" data-maxlength="3" oninput="this.value = this.value.slice(0, this.dataset.maxlength); this.value = this.value > 100 ? '0' : this.value">
                    </div>
                </div>
                <div class="col-md-5 isGraduationCompleted">
                    <label for="Graduation College" class="form-label">Graduation College</label>
                    <div class="input-group" error-For="Graduation College">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtGraduationSchoolName" autocomplete="off" placeholder="" maxlength="200" data-maxlength="200" oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="PostGraduation" class="form-label"><span class="text-danger">*</span>PostGraduation Completed</label>
                    <div class="input-group" error-For="PostGraduation">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtPostGraduationCOmpleted" id="txtPostGraduationYesCompleted" checked value="0">
                            <label class="form-check-label" for="txtPostGraduationYesCompleted">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="txtPostGraduationCOmpleted" id="txtPostGraduationNotCompleted" value="1">
                            <label class="form-check-label" for="txtPostGraduationNotCompleted">No</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 isPostGraduationCompleted">
                    <label for="PostGraduation Percentage" class="form-label">PostGraduation Percentage\CGPA</label>
                    <div class="input-group" error-For="PostGraduation Percentage">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></span>
                        <input type="number" class="form-control" id="txtPostGraduationercentage" autocomplete="off" placeholder="" maxlength="3" data-maxlength="3" oninput="this.value = this.value.slice(0, this.dataset.maxlength); this.value = this.value > 100 ? '0' : this.value">
                    </div>
                </div>
                <div class="col-md-5 isPostGraduationCompleted">
                    <label for="PostGraduation College" class="form-label">PostGraduation College</label>
                    <div class="input-group" error-For="Graduation College">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="txtPostGraduationSchoolName" autocomplete="off" placeholder="" maxlength="200" data-maxlength="200" oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
                    </div>
                </div>

                <br />
            </form>
        </div>
        <div class="card-footer text-muted " style="text-align:center; margin:auto 0">
            <a type="button" class="btn btn-secondary" id="btnGoLogin" href="~/Login">Go to Login (लॉग इन पर जाएं)</a>
            <button type="button" class="btn btn-primary" onclick="">Request Enrollment (नामांकन का अनुरोध करें)</button>
            <button type="button" class="btn btn-primary" onclick="enrollmentStatusCheck()">Enrollment Status (नामांकन की स्थिति)</button>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="shiftDialog">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-shirtsinbulk" aria-hidden="true"></i> Available shifts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover caption-top">
                    <caption>you can Choose multiple</caption>
                    <thead class="table-light">
                        <tr>
                            <th scope="col"><div class='form-check form-switch'><input class='form-check-input' style="cursor:pointer" type='checkbox' id="selectAllShift" onclick="selectAllShift(this)"/></div></th>
                            <th scope="col">Class</th>
                            <th scope="col">Batch</th>
                            <th scope="col">Shift</th>
                        </tr>
                    </thead>
                    <tbody id="shiftDialogBody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var shiftSelected = [];
    $(document).ready(() => {
        $('.js-example-basic-single').select2({ width: 'resolve', allowClear: true });
        ServerData("/StudentSignup/GetAllInstituitionsLinked", "Post", null, (data) => {
            if (data && data.StatusCode == "1") {
                $('#txtInstituionlist').html('');
                $('#txtInstituionlist').append($("<option selected></option>").attr("value", "").text('Choose Institute...'));
                $.each(data.Data, function (key, value) {
                    $('#txtInstituionlist').append($('<option data-bs-toggle="tooltip" examon_tooltip="' + value.TenantAddress + "-" + value.TenantEmail + '" title="' + value.TenantAddress + "-" + value.TenantEmail + '" ></option>').attr("value", value.TenantUniqueKey).text(value.TenantDBName + " " + value.TenantEmail));
                });
                loadExamOn_Tooltip();
            }
        }, () => { });

        ServerData("/StudDashboard/GetStatesInfo", "Post", null, (data) => {
            if (data && data.StatusCode == "1") {
                $('#txtState').html('');
                $('#txtState').append($("<option selected></option>").attr("value", "").text('Choose State'))
                $.each(data.Data, function (key, value) {
                    $('#txtState').append($("<option></option>").attr("value", key).text(value));
                });
            }
        }, () => { });

        $('#txtAvavilableShift').focus(function () {
            if ($('#txtInstituionlist').val()) {
                $('#shiftDialog').modal('show');
            } else {
                $('#txtAvavilableShift').val('');
            }
        });

        for (let elem of document.querySelectorAll('input[type="radio"]')) {
            elem.addEventListener("click", (event) => {
                if (event && event.target.id == "txthighSchoolYesCompleted") {
                    $(".isHighSchoolCompleted input").prop("readonly", false);                   
                }
                if (event && event.target.id == "txthighSchoolNotCompleted") {
                    $(".isHighSchoolCompleted input").prop("readonly", true);
                    $(".isHighSchoolCompleted input").val('');
                }

                if (event && event.target.id == "txtInterYesCompleted") {
                    $(".isIntermediateCompleted input").prop("readonly", false);
                }
                if (event && event.target.id == "txtInterNotCompleted") {
                    $(".isIntermediateCompleted input").prop("readonly", true);
                    $(".isIntermediateCompleted input").val('');
                }

                if (event && event.target.id == "txtGraduationYesCompleted") {
                    $(".isGraduationCompleted input").prop("readonly", false);
                }
                if (event && event.target.id == "txtGraduationNotCompleted") {
                    $(".isGraduationCompleted input").prop("readonly", true);
                    $(".isGraduationCompleted input").val('');
                }

                if (event && event.target.id == "txtPostGraduationYesCompleted") {
                    $(".isPostGraduationCompleted input").prop("readonly", false);
                }
                if (event && event.target.id == "txtPostGraduationNotCompleted") {
                    $(".isPostGraduationCompleted input").prop("readonly", true);
                    $(".isPostGraduationCompleted input").val('');
                }
            });
        }
    });

    function GetCourseShift(isEmpty) {      
        if (isEmpty && isEmpty.value) {
            ServerData("/StudentSignup/GetCourseShiftAvailable?tenantId=" + isEmpty.value.trim(), "Post", null, (data) => {
                if (data && data.StatusCode == "1") {
                    $("#shiftDialogBody").html('');
                    $.each(data.Data, function (key, value) {
                        $("#shiftDialogBody").append("<tr><td><div class='form-check form-switch'><input class='form-check-input totalCheckbox' style='cursor: pointer' type='checkbox' id='" + value.ShiftID +"' onClick='shiftToggleCheck(this)'></div></td><td>" + value.ClassName + "</td><td>" + value.Batch + "</td><td>" + value.Shift + "</td></tr>");
                    });

                }
            }, () => { });
        } else {
            $('#txtAvavilableShift').val('');
        }
    }

    function shiftToggleCheck(event, custom) {
        if ($(event).is(':checked') && !shiftSelected.includes($(event).attr('id'))) {
            shiftSelected.push($(event).attr('id'));
        } else {
            shiftSelected = shiftSelected.filter(function (item) {
                return item !== $(event).attr('id'); // Keep all items except the one to remove
            });
        }

        if (shiftSelected && shiftSelected.length > 0) {
            $('#txtAvavilableShift').val(shiftSelected.length + " shifts selected");
        } else {
            $('#txtAvavilableShift').val('');
        }
        let allChecked = true;
        document.querySelectorAll(".totalCheckbox").forEach(function (checkbox) {
            if (!checkbox.checked) {
                allChecked = false;
            }
        });
        if (!custom) {
            document.getElementById("selectAllShift").checked = allChecked;
        }
    }
    function selectAllShift(status) {
        document.querySelectorAll(".totalCheckbox").forEach(function (checkbox) {
            checkbox.checked = status && status.checked;
            shiftToggleCheck(checkbox,true);
        });
    }
    async function enrollmentStatusCheck() {
        const { value: enrollmentID } = await Swal.fire({
            title: "Enrollment Status Check (नामांकन स्थिति की जाँच करें)",
            input: "text",
            inputLabel: "Enrollment ID",
            inputPlaceholder: "Enter enrollment ID (अपनी नामांकन आईडी दर्ज करें)",
            inputAttributes: {
                maxlength: "50",
                autocapitalize: "off",
                autocorrect: "off"
            }
        });
        if (enrollmentID && enrollmentID.includes("-")) {
            ServerData("/StudentSignup/GetEnrollmentStatus?eid=" + enrollmentID.trim(), "Post", null, () => { }, () => { });
        } else {
            SwalFire('ExamOn-Alert', 'Invalid Enrollment ID', 'error', null, () => { },'');
        }
    }
</script>