<div class="col-md-12">
    <div class="row justify-content-center py-4 col-md-12 border rounded-5">
        <div class="card" style="max-width: fit-content !important;">
            <div class="card-header" style="text-align: center; text-decoration: underline;">
                <i class="fa fa-etsy" aria-hidden="true"></i>xamOn Student <i class="fa fa-graduation-cap" aria-hidden="true"></i> Enrollment @ViewBag.Version
            </div>
            <div class="card-body">
                <form>
                    <div class="col-md-12">
                        <label for="txtInstituionlist" class="form-label">Enroll Institutions : (वह संस्थान चुनें जिसमें आप नामांकन चाहते हैं)</label>
                        <div class="input-group" error-For="Insituition list">
                            <span class="input-group-text" id="basic-prefix"><i class="fa fa-university" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="txtOldPass" placeholder="अपना पुराना पासवर्ड दर्ज करें" required maxlength="50" tabindex="0" autocomplete="off" autofocus="">
                        </div>
                    </div>
                    <br />
                </form>
            </div>
            <div class="card-footer text-muted " style="text-align:center; margin:auto 0">
                <a type="button" class="btn btn-secondary" id="btnGoLogin" href="~/Login">Go to Login (लॉग इन पर जाएं)</a>
                <button type="button" class="btn btn-primary" onclick="">Request Enrollment (नामांकन का अनुरोध करें)</button>
            </div>
        </div>
    </div>
</div>