
@{
    ViewBag.Title = "ExamOn - Web Admin";
}
<a class="btn btn-danger" href="~/signout"> Logout from web admin?</a>
<hr />
<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Update Tenant (you can perform this operation once you have create tenant DB and a recordin tenant Master table)
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="col-md-6">
                    <label for="txtTenant" class="form-label">Choose Tenant first</label>
                    <div class="input-group" error-For="State (राज्य)">
                        <span class="input-group-text" id="basic-prefix"><i class="fa fa-certificate" aria-hidden="true"></i></span>
                        <select style="cursor:pointer" id="txtTenant" class="form-select">
                            <option>Choose...</option>
                        </select>
                    </div>
                </div>
                Tenant ID
                <input type="text" class="form-control" id="txtTenantId" placeholder="tenant ID">
                Tenant Name
                <input type="text" class="form-control" id="txtTenantName" placeholder="tenant Name">
                Address
                <input type="text" class="form-control" id="txtAddress" placeholder="tenant Address">
                Mobile
                <input type="text" class="form-control" id="txtTenantMobile" placeholder="tenant Mobile">
                Email
                <input type="text" class="form-control" id="txtTenantEMail" placeholder="tenant Email">
                Subscription  End date
                <input type="text" class="form-control" id="txtSubscriptionENdDate" placeholder="Subcription end Date">

                <script>
                    $('#txtSubscriptionENdDate').datetimepicker({ footer: true, modal: false });
                </script>
                Last Recharge Amount
                <input type="text" class="form-control" id="txtTenantEMail" placeholder="Last Recharge Amount">
                <br/>
                <button class="btn btn-danger">Update</button> 
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Create Instructor/Teacher/Tenant Admin Login
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

            </div>
        </div>
    </div>
</div>