
@{
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}
<br />
<style>
    .progress {
        width: 150px;
        height: 150px;
        background: none;
        position: relative;
    }

        .progress::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 6px solid #eee;
            position: absolute;
            top: 0;
            left: 0;
        }

        .progress > span {
            width: 50%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .progress .progress-left {
            left: 0;
        }

        .progress .progress-bar {
            width: 100%;
            height: 100%;
            background: none;
            border-width: 6px;
            border-style: solid;
            position: absolute;
            top: 0;
        }

        .progress .progress-left .progress-bar {
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }

        .progress .progress-right {
            right: 0;
        }

            .progress .progress-right .progress-bar {
                left: -100%;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                border-right: 0;
                -webkit-transform-origin: center right;
                transform-origin: center right;
            }

        .progress .progress-value {
            position: absolute;
            top: 0;
            left: 0;
        }

    .shadow:hover {
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
        transform: scale(1.05, 1.05);
    }
</style>
<div class="row">
    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Subscription Left</h2>
            <div id="txtSubscriptionLeftPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanSubscriptionLeftPercentage">0</span>%</div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Last Recharge</div><span class="small text-gray animate__animated animate__bounce" id="txtLastRechargeAmount">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">Valid Upto</div><span class="small text-gray animate__animated animate__bounce" id="txtsubscriptionLastDate">Getting..</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Total Active Student(s)</h2>
            <div id="txtActiveStudentPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanActiveStudentPercentage">0</span></div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Total Inactive</div><span class="small text-gray animate__animated animate__bounce" id="txtInActiveStudent">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">Total Blocked</div><span class="small text-gray animate__animated animate__bounce" id="txtBlockedStudent">Getting..</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Total Enrollment(s) Query</h2>
            <div id="txtEnrollmentLeftPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanEnrollmentLeftPercentage">0</span></div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Enrolled</div><span class="small text-gray animate__animated animate__bounce" id="txtEnrooled">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">Not Enrolled</div><span class="small text-gray animate__animated animate__bounce" id="txtNotEnrooled">Getting..</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Total Instructor</h2>
            <div id="txtTeacherLeftPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanTeacherLeftPercentage">0</span></div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Total Active</div><span class="small text-gray animate__animated animate__bounce" id="txtActiveTeacher">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">Total Blocked</div><span class="small text-gray animate__animated animate__bounce" id="txtNotActiveTeacher">Getting..</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Total Class(s)</h2>
            <div id="txtTotalClassLeftPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanTotalClassLeftPercentage">0</span></div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Total Batch(s)</div><span class="small text-gray animate__animated animate__bounce" id="txtBatchCount">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">Total Shift(s)</div><span class="small text-gray animate__animated animate__bounce" id="txtShiftCount">Getting..</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">DataBase Space</h2>
            <div id="txtDBSizeLeftPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanDBSizeLeftPercentage">0</span> MB</div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Total Size</div><span class="small text-gray animate__animated animate__bounce" id="txtTotalSize">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">Free Space</div><span class="small text-gray animate__animated animate__bounce" id="txtFreeSize">Getting..</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Total Exams</h2>
            <div id="txtSubscriptionLeftPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanSubscriptionLeftPercentage">0</span>%</div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Completed</div><span class="small text-gray animate__animated animate__bounce" id="txtLastRechargeAmount">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">NonCompleted</div><span class="small text-gray animate__animated animate__bounce" id="txtsubscriptionLastDate">Getting..</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4 border-1 border-top rounded-pill">
        <div class="bg-white rounded-lg p-4 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Total Mails</h2>
            <div id="txtSubscriptionLeftPercentage" class="progress mx-auto animate__animated animate__flash" data-value='0'>
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold"><span id="spanSubscriptionLeftPercentage">0</span>%</div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-6 border-right">
                    <div class="h5 font-weight-bold mb-0 text-small flex-nowrap">Sent</div><span class="small text-gray animate__animated animate__bounce" id="txtLastRechargeAmount">Getting..</span>
                </div>
                <div class="col-6">
                    <div class="h5 font-weight-bold mb-0 flex-nowrap">Not Sent</div><span class="small text-gray animate__animated animate__bounce" id="txtsubscriptionLastDate">Getting..</span>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary" style="display:none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" id="subscriptionExpire">Toggle top offcanvas</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasTop" data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">ExamOn - Alert !!</h5>
    </div>
    <div class="offcanvas-body container">
        Your subscription has been expired, Please recharge subscription by calling customer care or web administrator.
        <br />
        <b>
            आपकी सदस्यता समाप्त हो गई है, कृपया ग्राहक सेवा या वेब व्यवस्थापक को कॉल करके सदस्यता को रिचार्ज करें।
        </b>
    </div>
    <button type="button" class="btn-danger" data-bs-dismiss="offcanvas">Close</button>
</div>
<script>
    function percentageToDegrees(percentage) {
        return percentage / 100 * 360
    }
    function StartProgreeBar(dv, isCustom) {
        if (dv) {
            var value = $("#" + dv).attr('data-value');
            var left = $("#" + dv).find('.progress-left .progress-bar');
            var right = $("#" + dv).find('.progress-right .progress-bar');

            if (value > 0) {
                if (isCustom) {
                    value = Math.floor(Math.random() * 90) + 10;
                }
                if (value <= 50) {
                    right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                } else {
                    right.css('transform', 'rotate(180deg)')
                    left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                }
            }
        }
    }

    function getGetLicenceExpireHistory() {
        ServerData("/TenantAdminDashboard/GetLicenceExpire", "Post", null, (data) => {
            if (data.Error) {
                //this case is for offcanvas
                $("#txtSubscriptionLeftPercentage").attr('data-value', 0);
                $("#spanSubscriptionLeftPercentage").text(0);
                $("#subscriptionExpire").click();
            } else {
                if (data.Data[0].SubscriptionEndMessage > 100) {
                    $("#txtSubscriptionLeftPercentage").attr('data-value', 100);
                    $("#spanSubscriptionLeftPercentage").text(100);
                } else {
                    $("#txtSubscriptionLeftPercentage").attr('data-value', data.Data[0].SubscriptionEndMessage);
                    //$("#spanSubscriptionLeftPercentage").text(data.Data[0].SubscriptionEndMessage);
                    NumberCountersAnimation('spanSubscriptionLeftPercentage', data.Data[0].SubscriptionEndMessage);

                }
            }
            //cont here for charts
            $("#txtsubscriptionLastDate").text(toShowSqlDateinUI(data.Data[0].SubscriptionEndDate));
            //$("#txtLastRechargeAmount").text(data.Data[0].RechargeAmount);
            NumberCountersAnimation('txtLastRechargeAmount', data.Data[0].RechargeAmount);
            StartProgreeBar('txtSubscriptionLeftPercentage');
        }, () => { });
    }
    
    function getStudentCountHistory() {
        ServerData("/TenantAdminDashboard/GetStudentHistory", "Post", null, (data) => {
            if (data.Data) {
                $("#txtActiveStudentPercentage").attr('data-value', data.Data[0].Active);
                //cont here for charts
                $("#txtInActiveStudent").text(data.Data[0].NonActive);
               // $("#spanActiveStudentPercentage").text(data.Data[0].Active);
                NumberCountersAnimation('spanActiveStudentPercentage', data.Data[0].Active);
                $("#txtBlockedStudent").text(data.Data[0].Blocked);
                StartProgreeBar('txtActiveStudentPercentage', true);
            }
        }, () => { });
    }

    function getStudentEnrollmentCountHistory() {
        ServerData("/TenantAdminDashboard/GetStudentEnrollmentHistory", "Post", null, (data) => {
            if (data.Data) {
                $("#txtEnrollmentLeftPercentage").attr('data-value', data.Data[0].Total);
                //cont here for charts
                $("#txtEnrooled").text(data.Data[0].Enrolled);
               // $("#spanEnrollmentLeftPercentage").text(data.Data[0].Total);
                NumberCountersAnimation('spanEnrollmentLeftPercentage', data.Data[0].Total);
                $("#txtNotEnrooled").text(data.Data[0].NotEnrolled);
                StartProgreeBar('txtEnrollmentLeftPercentage', true);
            }
        }, () => { });
    }

    function getTeacherCountHistory() {
        ServerData("/TenantAdminDashboard/GetTeacherHistory", "Post", null, (data) => {
            if (data.Data) {
                $("#txtTeacherLeftPercentage").attr('data-value', data.Data[0].Active);
                //cont here for charts
                $("#txtActiveTeacher").text(data.Data[0].NonActive);
               // $("#spanTeacherLeftPercentage").text(data.Data[0].Active);
                NumberCountersAnimation('spanTeacherLeftPercentage', data.Data[0].Active);
                $("#txtNotActiveTeacher").text(data.Data[0].Blocked);
                StartProgreeBar('txtTeacherLeftPercentage');
            }
        }, () => { });
    }

    function getClassBatchSectionCountHistory() {
        ServerData("/TenantAdminDashboard/GetClassBatchSectionHistory", "Post", null, (data) => {
            if (data.Data && data.StatusCode == 1) {
                $("#txtTotalClassLeftPercentage").attr('data-value', data.Data[0].ClassCount);
                //cont here for charts
                $("#txtBatchCount").text(data.Data[0].BatchCount);
                NumberCountersAnimation('spanTotalClassLeftPercentage', data.Data[0].ClassCount);
                $("#txtShiftCount").text(data.Data[0].ShiftCount);
                StartProgreeBar('txtTotalClassLeftPercentage', true);
            }
        }, () => { });
    }

    function getDatabaseStaticsHistory() {
        ServerData("/TenantAdminDashboard/GetDatabaseStaticsHistory", "Post", null, (data) => {
            if (data.Data && data.StatusCode == 1) {
                $("#txtDBSizeLeftPercentage").attr('data-value', data.Data[0].DBUsedSize.toFixed(2));
                //cont here for charts
                $("#txtTotalSize").text(data.Data[0].DBTotalSize.toFixed(2) + ' MB');
                NumberCountersAnimation('spanDBSizeLeftPercentage', data.Data[0].DBUsedSize.toFixed(2));
                $("#txtFreeSize").text(data.Data[0].DBFreeSize.toFixed(2) + ' MB');
                StartProgreeBar('txtDBSizeLeftPercentage', true);
            }
        }, () => { });
    }

    $(document).ready(() => {
        getGetLicenceExpireHistory();
        getStudentCountHistory();
        getStudentEnrollmentCountHistory();
        getTeacherCountHistory();
        getClassBatchSectionCountHistory();
        getDatabaseStaticsHistory();
    });

</script>

